<a href="https://colab.research.google.com/github/AppCentralGroupDev/MR_Data_tools/blob/main/notebook/Schools_data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# importing the required modules
import glob
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [ ]:
# importing required modules
from zipfile import ZipFile
  
# specifying the zip file name
file_name = "/content/schools in lagos.zip"
  
# opening the zip file in READ mode
with ZipFile(file_name, 'r') as zip:
    # printing all the contents of the zip file
    zip.printdir()
  
    # extracting all the files
    print('Extracting all the files now...')
    zip.extractall()
    print('Done!')

File Name                                             Modified             Size
schools in lagos/Ajah_Badore_schools.xlsx      2022-08-17 12:46:00        13025
schools in lagos/Ajah_schools.xlsx             2022-08-17 12:46:00        12770
schools in lagos/EPE_2_schools.xlsx            2022-08-17 12:46:00         8175
schools in lagos/Epe_schools.xlsx              2022-08-17 12:46:00         8059
schools in lagos/Ibeju_schools.xlsx            2022-08-17 12:46:00         9813
schools in lagos/Lakowe_Bogije_schools.xlsx    2022-08-17 12:46:00         8652
schools in lagos/lekki_2_schools.xlsx          2022-08-17 12:46:00         8880
schools in lagos/lekki_schools.xlsx            2022-08-17 12:46:00        13086
schools in lagos/schools_awoyaya.xlsx          2022-08-17 12:46:00        12651
schools in lagos/schools_LBS_Sangotedo.xlsx    2022-08-17 12:46:00        13014
schools in lagos/schools_VI_Ikoyi.xlsx         2022-08-17 12:46:00        12927
Extracting all the files now...
Done!

In [ ]:
# specifying the path to csv files
path = "/content/schools"
 
# csv files in the path
file_list = glob.glob(path + "/*.xlsx")
 
# list of excel files we want to merge.
# pd.read_excel(file_path) reads the excel
# data into pandas dataframe.
excl_list = []
 
for file in file_list:
    excl_list.append(pd.read_excel(file))
 
# create a new dataframe to store the
# merged excel file.
excl_merged = pd.DataFrame()
 
for excl_file in excl_list:
     
    # appends the data into the excl_merged
    # dataframe.
    excl_merged = excl_merged.append(
      excl_file, ignore_index=True)
 
# exports the dataframe into excel file with
# specified name.
excl_merged.to_excel('Island_schools.xlsx', index=False)

In [ ]:
excl_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 720 entries, 0 to 719
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   formatted_address           720 non-null    object
 1   international_phone_number  527 non-null    object
 2   name                        720 non-null    object
 3   website                     303 non-null    object
dtypes: object(4)
memory usage: 22.6+ KB

In [ ]:
excl_merged.head()

,formatted_address,international_phone_number,name,website
0,"Whiteoak school, Plot 118, Block15, Jasper Ike...",+234 704 631 0631,Whiteoak Preparatory School,http://www.whiteoakschoollagos.com/
1,"36 Rasheed Alaba Williams Street, lekki phase ...",+234 909 532 4061,"Imperial Gate School, Lekki",https://imperialgateschool.com/
2,"Block 58, Plot 4 Akanni Bashorun St, Lekki Pha...",+234 903 848 5768,Chidren's International Secondary School,http://www.cislagos.com/
3,"Phase 1, Plot No. 17 Henry Ojogho Cres, Lekki ...",+234 803 725 7169,Jasper Nursery And Primary School,NaN
4,"54 Alexander Ave, Ikoyi 106104, Lagos, Nigeria",+234 1 342 6946,"St Saviour'S School, Ikoyi",NaN

In [ ]:
excl_merged.drop_duplicates(subset="name", keep=False, inplace=True)

In [ ]:
excl_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 272 entries, 0 to 597
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   formatted_address           272 non-null    object
 1   international_phone_number  172 non-null    object
 2   name                        272 non-null    object
 3   website                     99 non-null     object
dtypes: object(4)
memory usage: 10.6+ KB

In [ ]:
ec